.bgin {
  width: 100%;
  height: 100vh;
}


.tlogo {
  margin-top: 50px;
  width: 140px;
}

.ttext {
   font: 20px 'Roboto', Arial, Helvetica, sans-serif;
}

.lrp_login .lrp_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.lrp_hrOr {
  width: 100%;
}
.lrp_login .lrp_loginOr .lrp_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;

}
.lrp_login .lrp_loginOr .lrp_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font: 20px 'Roboto', Arial, Helvetica, sans-serif;
}

.lrp_loginForm {
  width: 100%;
  float: center;
}

.text-danger {
  margin: 0;
  padding: 0;
}

.lrp_login .lrp_loginForm {
  font: 18px 'Roboto', Arial, Helvetica, sans-serif;
}

.input-group {
  margin: 13px 0px 3px 0px;
}

.input-group-addon {
  width: 60px;
  padding-top: 6px;
  padding-left: 3px;
  background-color: #cdcdcd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 9px;
}

.form-control:focus {
  border-color: #003366;
}


.lrp_button{
  font: 16px 'Roboto', Arial, Helvetica, sans-serif;
  border-radius: 25px;
  line-height: 20px;
  width: 100%;
  float: center;
  border-color: #3b5998;
  background-color: #3b5998;
}

.lrp_button:hover {
  border-color: #003366;
  background-color: #003366;
  cursor: pointer;
  color: #fff ;
}

.checkbox {
  margin-top: 10px;
  font-size: 16px;
}

.lrp_forgotPwd{
  font: 16px 'Roboto', Arial, Helvetica, sans-serif;
}

.wor {
  margin-top: 20px;
}

.lrp_forgotPwd{
  color: #3b5998;
}

.lrp_forgotPwd:hover {
  color: #003366 ;
}

.dhaa .lrp_signup {
  font: 16px 'Roboto', Arial, Helvetica, sans-serif;
  color: #3b5998;
}

.lrp_signup:hover {
  color: #003366 ;
}

.lrp_row1 {
  width: 100%;
  margin-left: 7%;
}

.captionin {
  text-align: justify;
}

.lrp_textfield {
  margin-top: 60px;
}

.logtitle {
  margin-bottom: 75px;
  width: 100%;
  line-height: 35px;
  background-color: #ff6666;
  border-radius: 20px;
  border-color: #ff6666;
  opacity: 0.8;
  padding-bottom: 5px;
}

