.register-container {
  margin: 10px 0px 5px 0px;
}

.register-text {
  font: 15px 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.form-group {
  margin: 0;
  padding: 0;
}

.register-button {
  border-radius: 25px;
  font: 18px 'Roboto', Arial, Helvetica, sans-serif;
  width: 100%;
  line-height: 20px;
  border-color: #3b5998;
  background-color: #3b5998;
  margin-top: 20px;
  margin-bottom: 0;
}

.register-button:hover{
  border-color: #003366;
  background-color: #003366;
  cursor: pointer;
  color: #fff ;
}

.text-danger {
  padding: 0;
  margin: 0;
}

.wor {
  margin: 10px 0 0 0;
  padding: 0;
}

.bgreg {
  width: 100%;
  height: 100vh;
}

.tlogo1 {
  width: 140px;
}

.ttext {
   font: 20px 'Roboto', Arial, Helvetica, sans-serif;
}

.input-group-addon1 {
  width: 60px;
  padding-top: 6px;
  padding-left: 23px;
  background-color: #cdcdcd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 9px;
}

.captionreg {
  text-align: justify;
}

.form-control {
  margin-top: 9px;
}